.cart-container {
  padding: 30px;
}

.cart-title {
  text-align: center;
  margin-bottom: 20px;
}

.empty-cart {
  text-align: center;
  font-size: 18px;
  color: gray;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-card {
  display: flex;
  gap: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}

.cart-img {
  width: 120px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-details {
  flex: 1;
}

.cart-details h3 {
  margin: 0;
}

.price {
  color: green;
  font-weight: bold;
}

.desc {
  margin-top: 5px;
  color: #555;
}

.total {
  margin-top: 20px;
  text-align: right;
  font-size: 20px;
  color: #000;
}