.footer {
  background: skyblue;
  color: white;
  text-align: center;
  padding: 20px 0;
  border-top: 3px solid #ff608b;
  margin-top: 50px;
}

.footer p {
  margin: 5px 0;
  font-size: 16px;
  font-weight: 500;
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a {
  font-size: 24px;
  color: #ffffff;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #ff608b;
  transform: scale(1.2);
}
