.navbar {
  background: #2063eb;
  padding: 15px 40px;
  display: flex;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  margin-left: auto;
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #ff608b;
}

.home-icon {
  color: white;
  transition: 0.3s ease;
}

.home-icon:hover {
  color: #ff608b;
}
