.tech-container {
  padding: 20px;
  text-align: center;
    padding-bottom: 120px; /* Extra space so footer won't overlap */
}

.section-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 25px;
}

.book-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* Book Card */
.book-card {
  width: 250px;              /* bigger width */
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: left;          /* more professional */
}

.book-card:hover {
  transform: translateY(-6px);
}

/* Book Image */
.book-img {
  width: 100%;
  height: 300px;             /* perfect height like book shops */
  object-fit: cover;
  border-radius: 8px;
}

/* Book Title */
.book-title {
  margin-top: 12px;
  font-size: 18px;
  font-weight: 700;
  color: #222;
  height: 45px;              /* fixed height so all titles align */
}

/* Price */
.book-price {
  color: #e63946;            /* attractive red */
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

/* Add to Cart Button */
.cart-btn {
  width: 100%;
  padding: 12px;
  background: #ff7b00;
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  font-weight: 600;
}

.cart-btn:hover {
  background: #cc6500;
}
